<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {include file="common/cssInfo" /}

    <title>首页</title>

</head>

<body>
    <header>
        {include file="common/nav" /}
    </header>
    
    <main>
            <div class="main-container container-fluid">
                <div class="page-container">
                    <!-- 侧边栏 -->
                    {include file="common/sidebar" /}
                    <!-- Page Content -->
                    <div class="page-content">
                        <!-- Page Breadcrumb -->
                        <div class="page-breadcrumbs">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="#">系统</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Page Breadcrumb -->
    
                        <!-- Page Body -->
                         
                        <!-- /Page Body -->
                    </div>
                    <!-- /Page Content -->
                </div>
            </div>
        </main>
    
    <!-- 引入js -->
    {include file="common/jsInfo" /}
</body>

</html>