<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>详情页</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/detail.css">
</head>

<body>
	<header>
		{include file="common/nav" /}
	</header>

	<main>
		<div class="container dtAll">
			<div class="row">
				<div class="col-lg-8">
					<div class="dtMain">
						<div class="dtTitle">
							<h1>在中国—印尼工商峰会上的主旨演讲</h1>
							<p>中华人民共和国国务院总理 李克强</p>
							<span class="time">2018年05月08日05:55</span>
							<span class="source">来源：<a href="">人民网-人民日报</a></span>
						</div>
						
						<div class="dtArticle">
							<p>
								尊敬的卡拉副总统，

女士们，先生们：

　　很高兴应佐科总统邀请，对印度尼西亚进行正式访问，并同两国工商界人士见面。我谨代表中国政府，对本次工商峰会的举办表示热烈祝贺，对长期以来致力于中印尼友好合作的各界人士致以崇高敬意！

　　印尼是具有重要影响力的发展中大国和新兴市场经济体代表。近年来，印尼经济保持5%左右的较快增长，“赤道翡翠”正焕发出新的熠熠光彩。

　　中国高度重视发展同印尼的关系。2013年，习近平主席成功访问印尼，双方达成一系列重要共识，为两国关系发展规划了方向。我对印尼人民满怀感情，这次访问印尼，是我担任新一届中国国务院总理后首次出访的首站。

　　在两国各界人士共同努力下，中国同印尼的关系已驶入发展的快车道，经贸是两国合作中最活跃、最富有成果的领域。中国连续7年成为印尼第一大贸易伙伴，两国贸易平衡持续改善，今年一季度双边贸易额同比又增长28%。中国是印尼主要的外资来源国，去年对印尼投资增长30%以上，投资存量超过100亿美元。雅万高铁等一批标志性基础设施合作项目扎实推进。10年前我访问贵国时，曾考察两国合作建设的泗水—马都拉大桥工地，今天这座大桥已成为当地的“发展之桥”、“民生之桥”。两国人文交流日趋活跃，中国是印尼最大游客来源地，去年来印尼的中国游客突破200万人次。

　　中印尼友好合作快速发展，给双方人民带来实实在在的利益，有力促进了两国发展。这种基于优势互补、互利共赢的合作关系是稳定的、持久的，也能够经受住国际风云变幻的考验。

　　女士们，先生们！

　　我此访的目的是进一步巩固两国关系发展良好势头，推动双方务实合作迈上新台阶。上午，我同佐科总统进行了富有成果的会谈，达成一系列新的合作共识。

　　——双方将加强发展战略对接。双方尽快签署“一带一路”倡议与“全球海洋支点”构想合作备忘录，打造一批示范性项目，推动纺织、汽车、电子、化工、食品饮料等领域的合作提质升级。今年适逢“中国—东盟创新年”。两国将加强创新战略对接，积极拓展数字经济、绿色经济、海洋经济、共享经济等方面的合作，共同提升两国创新能力。中方愿与印尼等相关东盟国家一道，打造东盟东部增长区“4+1”合作新平台，加快次区域发展，助力东盟一体化进程。

　　——双方将推进贸易和投资自由化便利化。当前，经济全球化面临困难，保护主义、单边主义明显抬头。中国和印尼都支持经济全球化，倡导自由贸易，维护以规则为基础的多边贸易体系，主张通过平等协商解决贸易争端。中方不追求贸易顺差，去年印尼对华逆差比上年下降42%，今年一季度双边贸易基本平衡。中方愿进口更多印尼有竞争力的特色产品，包括棕榈油、油气、橡胶等大宗商品和咖啡、燕窝、水果等农产品，也希望印尼方解除对中国果蔬产品的进口限制。双方同意加强海关、检验检疫、认证认可等领域合作，提高贸易便利化水平。大力发展跨境电子商务，为两国中小企业合作搭建桥梁。我们要共同努力，力争双边贸易规模再上新台阶。

　　——双方将扩大投资与产能合作。中方支持企业参与印尼“区域综合经济走廊”建设，开展铁路、公路、机场、港口、桥梁、通信等基础设施合作，鼓励中国有关金融机构按照市场化原则为双方合作项目提供融资支持，希望印尼方为项目落地提供政策支持和签证便利。我们也欢迎印尼方在华设立投资促进中心。
							</p>
						</div>
					</div>
					<!-- dtMain-END -->
				</div>
				<!-- col-lg-8 - END -->

				<div class="dtHot col-lg-4">
					
				</div>
				<!-- col-lg-4 - END -->

			</div>
			<!-- row-END -->
		</div>
		<!-- container dtAll - END -->
	</main>

	<footer>
		{include file="common/footer" /}
	</footer>
</body>
</html>
