<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="robots" content="all">
<meta name="author" content="author" />
<meta name="Copyright" content="Tencent" />
<meta name="keywords" content="{$confres.keyword}" />
<meta name="description" content="{$confres.desc}" />
<!-- css文件 -->
<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet" href="__CSS__/iconfont.css">
<link rel="stylesheet" type="text/css" href="__CSS__/header.css">
<link rel="stylesheet" href="__CSS__/style.css">